<h1>Plots Index</h1>

<% @plots.each do |plot| %>
  <section id="plot-<%= plot.id %>">
    <ul>
      <li>Plot Number: <%= plot.number %></li>
      <% plot.plants.each do |plant| %>
        <li>Plant Name: <%= plant.name %></li>
        <%= link_to "Remove #{plant.name}", "/plots/#{plot.id}/plants/#{plant.id}/edit" %>
      <% end %>
    </ul>
  </section>
<% end %>