<h1>Plots Index</h1>

<% @plots.each do |plot| %>
  <ul>
    <li>Plot Number: <%= plot.number %></li>
    <% plot.plants.each do |plant| %>
      <li>Plant Name: <%= plant.name %></li>
    <% end %>
  </ul>
<% end %>